body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #14181c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-body-tertiary {
  background-color: #242424;
}

/* Styles for home movies */

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie-item {
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: white;
  width: calc(33.33% - 20px);
  max-width: 180px;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-title-container {
  background-color: #fdb14d;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.movie-title {
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
}

/* Styles for profile  */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-nav {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  background-color: grey;
  max-width: 200px;
  width: 200px;
  height: 250px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
}

.profile-nav a {
  color: white;
  text-decoration: none;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.profile-content h4 {
  margin-bottom: 30px;
}

.profile-content img {
  max-width: 80%;
  height: auto;
  width: 150px;
  border-radius: 30%;
  margin-bottom: 30px;
}

/* Styles for edit profile  */
